# Supabase
VITE_SUPABASE_URL=https://lupevlmosqklocddltrz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1cGV2bG1vc3FrbG9jZGRsdHJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0Njc4ODYsImV4cCI6MjA4ODA0Mzg4Nn0.pKY9dfpvauPNsbLXegRq5k5nv_fyb77YdC7azZF79Xg
